.process-config-card {
    margin-top: 1rem;
    width: 80%;
    padding: 1rem 1rem;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-height: fit-content;
}

.process-config-label.disabled {
    opacity: 0.4;
}

.card-labels {
    display: flex;
    justify-content: space-evenly;
}

.card-labels label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}